.App {
  padding-bottom: 50px;
  padding-top: 20px;
  text-align: center;
  /* background-image: url('/src/bg_image/lightning.png'); */
  background-color: black;
  background-position: center;
  height: 1100px;
  vertical-align: baseline;

}

.form {
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  padding-bottom: 20px;
  text-shadow:
      0 0 25px #fff,
      0 0 35px #fff,
      0 0 45px #fff,
      0 0 42px #f09,
      0 0 82px #f09,
      0 0 92px #f09,
      0 0 102px #f09,
      0 0 151px #f09; 
}

.gallery {
  padding:15px;
  display: inline-block;
  box-shadow:  
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #fff,
      0 0 8px #f09,
      0 0 10px #f09,
      0 0 12px #f09,
      0 0 14px #f09,
      0 0 16px #f09;
}

.ig-icon {
  max-width: 20px;
  vertical-align: middle;
}

.image {
  transition: all .8s ease-in-out;
  max-width: 225px;
  border: black;
  border-style: solid;
}

.image:hover{
  transform: scale(2.5);
  transform-style:flat;
}

.upper-image {
  transition: all .8s ease-in-out;
  max-width: 225px;
  border: black;
  border-style: solid;
}

.upper-image:hover{
  transform: translate(0, 65%) scale(2.5);
  transform-style:flat;
}

.lower-image {
  transition: all .8s ease-in-out;
  max-width: 225px;
  border: black;
  border-style: solid;
}

.lower-image:hover{
  transform: translate(0, -65%) scale(2.5);
  transform-style:flat;
}

label, input {
  margin-bottom: 15px;
}

.landing {
  padding-top: 25px;
  display: inline;
}

.landing-image{
  max-width: 500px;
  transition: all .6s ease-in-out;
  display: inline-block;
}

.landing-image:hover {
  transform: scale(1.04);
}

.landing-tag{
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 25px;
  color: #fff;
  padding-bottom: 10px;
  padding-top: 10px;
  text-shadow:
      0 0 2px #fff,
      0 0 2px #fff,
      0 0 3px #fff,
      0 0 42px #f09,
      0 0 82px #f09,
      0 0 92px #f09,
      0 0 102px #f09,
      0 0 151px #f09; 
}

.landing-sub-tag{
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 15px;
  color: #fff;
  text-shadow:
      /* 0 0 2px #fff,
      0 0 2px #fff,
      0 0 3px #fff, */
      0 0 42px #f09,
      0 0 82px #f09,
      0 0 92px #f09,
      0 0 102px #f09,
      0 0 151px #f09; 
}

.navbar {
  padding: 15px;
  padding-bottom: 45px;
  /* background-color: rgb(253, 253, 253);
  opacity: 25%; */
}

.navlink {
  transition: all .2s ease-in-out;
  color: rgb(255, 255, 255);
  padding-left: 50px;
  padding-right: 50px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: x-large;
  text-shadow:
      0 0 16px #fff,
      0 0 35px #fff,
      0 0 55px #fff,
      0 0 42px #f09,
      0 0 82px #f09,
      0 0 92px #f09,
      0 0 102px #f09,
      0 0 151px #f09; 
}

.navlink:hover {
  color: rgb(194, 248, 248);
}

.show-div{
  padding: 25px;
  padding-left: 45px;
  padding-right: 45px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.344);
  border: rgb(138, 138, 138);
  border-style:dotted;
  border-radius: 32px;
}

.show-items{
  font-size: 25px;
  color: #fff;
  padding-bottom: 30px;
  padding-top: 30px;
  text-shadow:
      /* 0 0 2px #fff,
      0 0 2px #fff,
      0 0 3px #fff, */
      0 0 42px #f09,
      0 0 82px #f09,
      0 0 92px #f09,
      0 0 102px #f09,
      0 0 151px #f09; 
}

.video-div{
  display: inline-block;
  box-shadow:  
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #fff,
      0 0 8px #f09,
      0 0 10px #f09,
      0 0 12px #f09,
      0 0 14px #f09,
      0 0 16px #f09;
}

.youtube-clip{
  padding: 35px;
}

